# Blacklist everything
*
!*/ # white list recursively, re-exclude Documentation and Meetings:
Documentation/
Meetings/

# Whitelist directories
!/Code/
!/Code/*
!/Code_hpcc/
#!/Code_hpcc/*
!/Postharmonization/
!/Results/
#!/Results/*
!.gitignore

# files
!*.R
!*.r
!*.rmd
!*.Rmd
!*.md
!*.sh
!*.css
.Rproj.user
