# Blacklist everything
*

# Whitelist all directories
!/Code/
#!/Code/*
!/Code_hpcc/
#!/Code_hpcc/*
!/Postharmonization/
#!/Postharmonization/*
!/Results/
#!/Results/*
!.gitignore

# files
!*.R
!*.Rmd
!*.md
!*.sh
!*.css
