
html, body {
  background-color: #5d5d5e;
  color: #fff;
}

a:link {
  color: #C70039;
}

a:visited {
  color: #C70039; 
}

p {
  color: #fff;
}

h1 {
  color: #fff;
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
}
h2 {
  color: #fff;
	font-family: "Open Sans";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
}
h3 {
  color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}

pre {
  color: #fff;
}